.contacts {
  padding: 0;
  margin-bottom: 64px;

  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    @include centerer;
    display: grid;
    grid-template-columns: 552px auto;
    column-gap: 26px;
    margin-bottom: 100px;
  }
}

.contacts__container {
  @include centerer;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-inline: 180px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    grid-column: 2 / 3;
  }
}

.contacts__title {
  max-width: 266px;
  margin: 0 auto 64px;
  padding-right: 10px;
  overflow: auto;

  @media (min-width: $tablet-width) {
    max-width: 400px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
    margin-top: 24px;
  }
}

.contacts__description {
  margin: 0;
  margin-bottom: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(20px);
    text-align: start;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 94px;
  }
}

.contacts__address {
  display: grid;
  gap: 11px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 94px;
  }
}

.contacts__component {
  @include link-reset;
  display: flex;
  gap: 4px;
  align-items: center;
  max-width: fit-content;
  margin: 0;

  &::before {
    content: "";
    flex-shrink: 0;
    position: relative;
    width: 32px;
    height: 32px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-black;
  }

  &--leaf {
    &::before {
      mask-image: url("../img/sprite.svg#icon-leaf");
      mask-size: 16px 24px;
    }
  }

  &--phone {
    &::before {
      mask-image: url("../img/sprite.svg#icon-phone");
      mask-size: 16px 20px;
    }
  }

  &--mail {
    &::before {
      mask-image: url("../img/sprite.svg#icon-mail");
      mask-size: 18px 14px;
    }
  }

  &[href]:hover {
    color: $color-green-hover;

    &::before {
      background-color: $color-green-hover;
    }
  }

  &[href]:active {
    color: $color-green;

    &::before {
      background-color: $color-green;
    }
  }

  &[href]:focus-visible {
    @include focus-outline;
  }
}

.contacts__map {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
