.copyright {
  @include link-reset;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 111px;

  @media (min-width: $tablet-width) {
    max-width: 154px;
    justify-self: flex-end;
    flex-wrap: wrap;
    padding-block: 17px 11px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 16px 12px;
  }

  &:hover {
    color: $color-green-hover;
  }

  &:active {
    color: $color-green-active;
  }

  &:focus-visible {
    @include focus-outline;
  }
}

.copyright__text {
  @media (max-width: $mobile-width-only) {
    @include font(11px);
  }
}

.copyright__icon {
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 26px;
    height: 32px;
  }
}
