.inner-hero {
  @include leaf-line;
  position: relative;
  margin-bottom: 50px;
  padding: 0 0 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
    margin-bottom: 62px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 120px;
    display: block;
    margin-bottom: 64px;
    background-color: $color-crimson;
    background-image: url("../img/hero/inner-hero-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/inner-hero-bg-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/hero/inner-hero-bg-tablet.jpg");
      height: 200px;
      margin-bottom: 100px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/inner-hero-bg-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/hero/inner-hero-bg-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero/inner-hero-bg-desktop@2x.jpg");
      }
    }
  }
}

.inner-hero__container {
  @include centerer;

  @media (min-width: $tablet-width) {
    padding-inline: 118px;
  }
}

.inner-hero__title {
  max-width: 268px;
  margin: 0 auto 32px;
  overflow: auto;

  @media (min-width: $tablet-width) {
    @include font(52px);
    max-width: 532px;
    margin-bottom: 48px;
  }
}

.inner-hero__text {
  @include font(16px);
  max-width: 252px;
  margin: 0 auto 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(18px);
    line-height: 22px;
    max-width: 520px;
  }

  @media (min-width: $desktop-width) {
    max-width: 550px;
  }
}
