.logo {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  color: $color-green;

  @media (max-width: $mobile-width-only) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &[href]:hover {
    color: $color-green-hover;
  }

  &[href]:active {
    color: $color-green-active;
  }

  &[href]:focus-visible {
    @include focus-outline;
    outline-offset: -3px;

    @media (min-width: $tablet-width) {
      outline-offset: 2px;
    }
  }
}

.logo__icon {
  @media (min-width: $tablet-width) {
    width: 58px;
    height: 60px;
  }

    @media (min-width: $desktop-width) {
      width: 60px;
    }
}

.logo__text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
