.news {
  @include centerer;
  @include leaf-line;
  position: relative;
  padding-bottom: 96px;
  margin-bottom: 86px;

  @media (min-width: $tablet-width) {
    padding-bottom: 152px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 142px;
    margin-bottom: 101px;
  }
}

.news__title {
  margin: 0;
  margin-bottom: 64px;
  overflow: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98px;
  }
}

.news__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px 20px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 24px;
  }
}
