.products {
  @include centerer;
  @include leaf-line;
  position: relative;
  margin-bottom: 64px;
  padding: 0 28px 96px;

  @media (min-width: $tablet-width) {
    padding: 0 94px 142px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98px;
    max-width: 1028px;
  }

  @media (min-width: 1440px) {
    padding-inline: 156px;
    max-width: 1440px;
  }
}

.products__title {
  margin: 0;
  margin-bottom: 64px;
  overflow: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 92px;
  }
}

.products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 52px;
  }

  @media (min-width: $desktop-width) {
    gap: 52px 24px;
  }
}
