.social {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 136px;

  @media (min-width: $tablet-width) {
    padding-block: 14px 6px;
    max-width: 184px;
    gap: 16px 32px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 10px;
  }
}

.social__item {
  max-width: 32px;

  @media (min-width: $tablet-width) {
    max-width: 40px;
  }
}

.social__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid $color-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-green;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }
  }

  &--telegram::after {
    mask-image: url("../img/sprite.svg#telegram");
  }

  &--vkontakte::after {
    mask-image: url("../img/sprite.svg#vkontakte");
  }

  &--youtube::after {
    mask-image: url("../img/sprite.svg#youtube");
  }

  &:hover {
    border-color: $color-green-hover;

    &::after {
      background-color: $color-green-hover;
    }
  }

  &:active {
    border-color: $color-green-active;

    &::after {
      background-color: $color-green-active;
    }
  }

  &:focus-visible {
    @include focus-outline;
  }
}
