$color-white: #fbfcfe;
$color-snow-white: #ffffff;
$color-black: #000000;
$color-light-blue: #f1f6fc;
$color-grey: #d6dde3;
$color-leaf-grey: rgba(142, 152, 146, 0.70);
$color-purple: #6a107a;
$color-purple-hover: #b22ec8;
$color-purple-active: rgba(106, 16, 122, 0.60);
$color-green: #0f805d;
$color-green-hover: #7bdb0a;
$color-green-active: rgba(15, 128, 93, 0.50);
$color-crimson: #6b0916;
$color-error: #ff8282;

// Брейкпойнты
$mobile-width-only: 767.98px;
$tablet-width: 768px;
// $tablet-width-only: 1279.98px;
$desktop-width: 1128px;
